<!DOCTYPE html>
<html>
    <head>
        <title>KnowledgeWare - Dynamic X-Path</title>
        <script type="text/javascript" src="custom.js"> </script>
        <link rel="stylesheet" type="text/css" href="common/style.css" />
        <link rel="stylesheet" type="text/css" href="forall.css" />
        <script type="text/javascript" src="common/angular.js"> </script>
        <script type="text/javascript" src="common/jquery.min.js"> </script>
        <script type="text/javascript" src="common/corner.js"> </script>
        <script type="text/javascript" src="common/common.js"> </script>
        <script type="text/javascript" src="custom.js"> </script>
        
        <script src="https://kit.fontawesome.com/4a0da9e824.js" crossorigin="anonymous"></script>
        <script src="dropdown.js" defer></script>
        <script type="text/javascript" src="data.js"> </script>
        <style>
            .filter {float:left}
        </style>
    </head>
    <body>
        <div class="logodiv" style="padding: 0;"><img src="KW.png" alt="Logo" id="logopic"></div>
        <div class="add">
            <div class="left">
                <h2 class="sele">Selenium</h2>
                <h2 class="certi">Certification Training</h2>
                <div class="horline"></div>
                <div class="option"><br>
                    <p class="options">Live Instructor led Online Training</p>
                    <p class="options2">Weekend Classes</p><br>
                    <p class="options">Regular Assignments</p>
                    <p class="options2">Lifetime access to Sessioin Recordings</p>
                </div>
            </div>
            
            <div class="right">
                <div class="join">
                    <a href="tel:8698989276" class="joinref">JOIN NOW</a>
                </div>
                <div class="call"><a class="remove" href="tel:8698989276">Call: 8698989276</a></div>
            </div>
        </div>
        
        <div class="subheading"><h1 id=textb>Dynamic X-Path</h1></div>
        <div class="sidenav">
            <button class="dropdownbtn">Elements<i class="fa fa-caret-down"></i></button>
            <div class="dropdowncontainer">
                <a href="index.html">Text Box</a>
                <a href="check.html">Check Box</a>
                <a href="radio.html">Radio Button</a>
                <a href="web.html">X-Path</a>
                <a href="button.html">Buttons</a>
                <a href="links.html">Links</a>
                <a href="broken.html">Broken Links - Images</a>
                <a href="updown.html">Upload and Download</a>
                <a href="dynamic.html">Dynamic Properties</a>
            </div>
            <button class="dropdownbtn">Forms<i class="fa fa-caret-down"></i></button>
            <div class="dropdowncontainer">
                <a href="practiceform.html">Practice Form</a>
            </div>
            <button class="dropdownbtn">Dynamic X-Path<i class="fa fa-caret-down"></i></button>
            <div class="dropdowncontainer">
                <a href="#">Dynamic X-Path</a>
            </div>
            <button class="dropdownbtn">Alerts, Frame & Windows<i class="fa fa-caret-down"></i></button>
            <div class="dropdowncontainer">
                <a href="window.html">Browser Window</a>
                <a href="alerts.html">Alerts</a>
                <a href="frames.html">Frames</a>
                <a href="nestedframes.html">Nested Frames</a>
                <a href="modal.html">Modal Dialogs</a>
            </div>
            <button class="dropdownbtn">Widgets<i class="fa fa-caret-down"></i></button>
            <div class="dropdowncontainer">
                <a href="datepicker.html">Data Picker</a>
                <a href="tabs.html">Tabs</a>
                <a href="tooltips.html">Tool Tips</a>
                <a href="menu.html">Menu</a>
                <a href="selectmenu.html">Select Menu</a>
            </div>
            <button class="dropdownbtn">Quiz<i class="fa fa-caret-down"></i></button>
            <div class="dropdowncontainer">
                <a href="quiz.html">Example Quiz</a>
                <a href="javaquiz.html">Java Primitive Quiz</a>
                <a href="ifquiz.html">Java If Statement Quiz</a>
            </div>
        </div>
        <div id="form-example" class="example">
            <div class="filter">

            </div>
            <div ng-app="myapp" ng-controller="employeeController">
                <table>
                <tr>
                    <td>
                            <div class="advFilter">
                            <input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter"/>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="order-table">
                <thead>
                <tr><th name="na">Sr. No.</th><th name="normal">Employee</th><th name="normal">Designation</th><th name="normal">Department</th><th name="normal">Country</th><th name="not">Ratting</th><th name="na">Control</th></tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in names">
                        <td>{{$index+1}}</td> <td>{{x.name + ' ' + x.lastname }}</td><td>{{x.designation}}</td><td>{{x.department}}</td>
                    <td>{{x.country}}</td><td>{{x.ratting}}&nbsp;&nbsp;<select>

                    <option ng-selected="{{op.value == x.ratting}}" value="{{op.value}}" ng-repeat="op in ratings">
                        {{op.option}}
                    </option>

                    </select></td>
                    <td><a class="adetails" href="#">Details</a> | <a class="ainline" href="#">Inline</a></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    
        <div class="overlay" id="overlay" style="display:none;">
            <img src="common/loading.gif" alt="Loading"/>
        </div>
        <div id="modalText" style="display:none;">
                <style>
                    h1 {
                    font-size: 25px;
                    margin: 15px 10px 10px 10px;
                    color: #259;
                    }

                    h2 {
                    font-size: 18px;
                    margin: 0 0 10px 0;
                    }

                   
                    .modalText td, .modalText th {
                        border:solid black 2px;
                    }
                    .modalText th {
                    background:#00CCCC;
                    color:#fff;
                    }
                    .modalText table{
                        border:solid black 2px;
                        border-collapse:collapse;
                    width:100%;
                    }
                    .order-table{
                        background-color: white;
                    }
                </style>
            
                    <div id="form-example" class="modalText example">
                    </div>
        </div>

    </body>
</html>